venv/
add/
ComicPanelSplitter/
AnimeShakitto_v1.0.0.0/
testimg/
!testimg/1_img/
under-*/
output/
**/__pycache__/
app.log

src/score_module/
TEST/pytest_temp/

output/image_dataset/
__pycache__/
.tmp.driveupload/
Image_database/image_database.db
